<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prix Directory</title>
    <link 
    rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
    crossorigin="anonymous">
    <script type="module" src="/build/prix.esm.js"></script>
    <script nomodule src="/build/prix.js"></script>
</head>
<body>
    <prix-directory></prix-directory>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="./utils.js"></script>
    <script>
        loadComponent("prix-directory", "../data/DirectoryData.json")
    </script>
</body>
</html>