<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prix Multi Level</title>
    <link 
    rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
    crossorigin="anonymous"/>
    <script type="module" src="/build/prixcomponents.esm.js"></script>
    <script nomodule src="/build/prixcomponents.js"></script>
</head>
<body>
    <prix-multi-level>
        <img src="../icon/logotec.png" alt="logotec" slot="icon" width="200px" style="margin-left: 25%;">
    </prix-multi-level>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="./utils.js"></script>
    <script>
        loadComponent("prix-multi-level", "../data/multi-level-data.json")
    </script>
</body>
</html>