body {
  background-color: white;
  font-size: 15px;
  line-height: 19px;
  color: #031f51;
  font-family: "Montserrat", sans-serif;
}
.topnav-md {
  display: none;
}
.topnav-sm {
  display: none;
}

.topnav {
  overflow: hidden;
  background-color: #f0fcff;
  display: block;
}
.topnav input,
.topnav label {
  float: left;
  display: block;
  color: #093f9b;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}

#showGrid{
  display: none;
}

.pagnLink input[type="checkbox"],
.topnav input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.pagnLink label {
  margin: 0%;
  padding: 0.05%;
}

#letters ul {
  list-style: none;
  text-decoration: none;
}
#letters ul li {
  margin: 0;
  padding: 0;
}

.pagnLink input[type="checkbox"]:checked + label {
  color: black;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav label.active:hover {
  background-color: #031f51;
  color: white;
}
.allSelected {
  color: white;
  background-color: #093f9b;
}

/* Style the "active" element to highlight the current page */
.topnav label.active {
  cursor: pointer;
  background-color: #093f9b;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  align-content: center;
  padding: 2%;
  border: none;
  margin-top: 5%;
  margin-right: 2%;
  font-size: 17px;
}
.topnav .search-container {
  float: right;
  
}
// .topnav .search-container button {
//   float: right;
//   padding: 6px 6px;
//   margin-top: 8px;
//   margin-right: 16px;
//   background: #d7d7d7;
//   font-size: 17px;
//   border: none;
//   cursor: pointer;
// }
.rule {
  height: 2px;
  background-color: black;
}
.fas {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

@media screen and (min-width: 991px) and (max-width: 11px) {
  .topnav {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 990px) {
  .topnav {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #letters, #select-all, #select-all-label{
    display: none;
  }
  

  .topnav{
    height: 110px;
  }
  .topnav, label .search-container{
    position: relative;
    padding: 0;
    margin: 1%;
  }

  
  #showGrid{
    display: block;
    margin-left: 6%;
    margin-top: 10%;
    border-radius: 9px;
    background-color: #031f51;
    color: white;
    width: auto;
    height: 25px;
  }

  .overlay{
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
  transition: 0.35s;
  }

  #letters ul  {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  .show{
    display: block;
  }


}
