body {
  background-color: white;
  font-size: 15px;
  line-height: 19px;
  color: #031f51;
  font-family: Ubuntu,Arial, Helvetica, sans-serif;
}
.wrapper-md, .wrapper-sm, #openModal, #modalLabel{
  display: none;
}
ul {
  list-style: none;
}
.topnav-md {
  display: none;
}
.topnav-sm {
  display: none;
}

.topnav {
  overflow: hidden;
  background-color: white;
  display: block;
}
.topnav input,
.topnav label {
  float: left;
  display: block;
  color:#093f9b ;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  
}

.search-container {
  margin-top: 0.5%;
  margin-right: 5%;
}
.item {
  display: none;
}

#letters {
  display: block;
  margin-left: 12%;
}

.pagnLink input[type="checkbox"],
.topnav input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.pagnLink label {
  margin: 0%;
  padding: 0.05%;
}

#letters ul {
  list-style: none;
  text-decoration: none;
}
#letters ul li {
  margin: 0;
  padding: 0;
}
.checkLabel {
  cursor: pointer;
}

.pagnLink input[type="checkbox"]:checked + label {
  color: #00B4CC;
  font-weight: bold;
}

/* Change the color of button on hover */
.topnav label.active:hover{
  background-color: #009baf;
  box-shadow: 1px 1px 10px #006b79;
}
.allSelected {
  color: white;
  background-color: #00b4cc;
}
.topnav label.active{
  margin-top: 10px;
  margin-bottom:30px;
  border-radius: 2em;
  cursor: pointer;
  background-color: #00B4CC;
  color: white;
  font-weight: 600;
  width: 170px;
  height: auto;
  padding: 0.5% 1%;
  display: inline-block;
  transition: all 0.2s;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  margin-top: 2px;
  align-content: center;
  padding: 2%;
  border: none;
  font-size: 17px;
  width: 100%;
  border: 3px solid #00B4CC;
  border-radius: 2em;
  outline: none;
  color: #9dbfaf;
  transition: all 0.2s;
}
.topnav input[type="text"]:focus {
  color:  #00B4CC;
  box-shadow: 1px 1px 7px #006b79;
}
.topnav .search-container {
  float: right;
}
.item-container{
  display: inline-grid;
  grid-template-columns: 500px 500px 500px;
  margin-top: 5px;
}

@media screen and (min-width: 661px) and (max-width: 1200px) {
  .wrapper-md{
    display: contents;
  }
  .wrapper-lg, .wrapper-sm, #openModal, #modalLabel{
    display:none;
  }
  .topnav {
    display: block;
    position: relative;
  }
  .topnav .search-container, .topnav #letters{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
  }
  .topnav #letters{
    align-content: center;
    width: 374px;
    margin-left: 25%;
  }
  .topnav .search-container{
    margin-left: 67%
  }
  .topnav ul{
    padding: 0;
  }
  #searchbox {
    width: 60%;
    margin-left: 30%;
  }

  #letters {
    display:grid;
    grid-template-columns: auto;
    column-count: 15;
  }
  .item-container{
    grid-template-columns: 180% 180%;
  }
}
@media screen and (max-width: 660px) {
  .wrapper-sm{
    display:contents;
  }
  #openModal,#modalLabel{
    display: inline-block;
  }
  .wrapper-lg, .wrapper-md, #modal{
    display:none;
  }
  #letters,
  #select-all,
  #select-all-label{
    display: none;
  }
  .topnav {
    overflow: hidden;
    display: block;
    margin: 0;
  }

  #lettersList {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 4%;
    padding: 5%;
  }

  #search-box input {
    margin: 2%;
  }

  #searchbox {
    width: 95%;
    margin-top: 0;
  }

  .topnav input,
  .topnav label {
    color: black;
  }
  #lettersListMobile {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 4%;
    padding: 1%;
  }

  #lettersListMobile > li {
    padding: 5%;
    color: black;
  }
  .item-container{
    grid-template-columns: auto;
  }
  .search-container{
    width: 40%;
  }
  #searchbox{
    margin-top: 1.5%;
    width: 100%;
  }
  #modalLabel{
    width: 45%;
    height: 30px;
    margin-top: 1.5%;
  }
}
