body {
    background-color: white;
    font-size: 15px;
    line-height: 19px;
    color: #031f51;
    font-family: "Montserrat", sans-serif;
  }
  ul{
    list-style: none;
  }
  .topnav-md {
    display: none;
  }
  .topnav-sm {
    display: none;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #f0fcff;
    display: block;
  }
  .topnav input,
  .topnav label {
    float: left;
    display: block;
    color: #093f9b;
    text-align: center;
    padding: 1%;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
  }
  
  .search-container {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .item{
    display: none;
  }

  #letters{
    display: block;
  }
  
  .pagnLink input[type="checkbox"],
  .topnav input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  
  .pagnLink label {
    margin: 0%;
    padding: 0.05%;
  }
  
  #letters ul {
    list-style: none;
    text-decoration: none;
  }
  #letters ul li {
    margin: 0;
    padding: 0;
  }
  .checkLabel{
    cursor: pointer;
  }
  
  .pagnLink input[type="checkbox"]:checked + label {
    color: black;
    font-weight: bold;  
  }
  
  /* Change the color of links on hover */
  .topnav label.active:hover {
    background-color: #031f51;
    color: white;
  }
  .allSelected {
    color: white;
    background-color: #093f9b;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav label.active {
    cursor: pointer;
    background-color: #093f9b;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type="text"] {
    align-content: center;
    padding: 2%;
    border: none;
    margin-top: 5%;
    margin-right: 2%;
    font-size: 17px;
  }
  .topnav .search-container {
    float: right;
    
  }
  .rule {
    height: 2px;
    background-color: black;
  }
  .fas {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
  
  
  
  @media screen and (min-width: 661px) and (max-width: 1200px) {
    .topnav {
      display: block;
      
    }
    #searchbox{
      width: 70%;
      margin-left: 30%;
      margin-right: 0.5%;
      }    
  
    #letters{
      column-count: 15;
    }


  }
  @media screen and (max-width: 660px) {
    #letters, #select-all, #select-all-label{
      display: none;
    }
    .topnav {
      overflow: hidden;
      background-color: #f0fcff;
      display: block;
      margin: 0;
    }
  
   
  
    #search-box input{
      margin: 2%;
    }

    #searchbox {
      width: 95%;
      margin-top: 0;
     }

    #lettersListMobile{
      display: grid;
      grid-template-columns: auto auto  auto;
      margin: 4%;
      padding: 5%;
    }

    #lettersListMobile>Li{
      padding: 10%;
    }
  }
  