.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  transition: 1s;
}

.prix-modal-box {
  position: fixed;
  display: none;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  right: 5%;
  bottom: 0%;
  background-color: rgba(255, 255, 255, 0.911);
  z-index: 2;
  cursor: pointer;
  transition: 1s;
}

.prix-modal-message {
  align-content: center;
  margin: 20%;
  padding: 2%;
}

.dismiss {
  color: white;
  font-size: 200%;
  margin: 2%;
  padding: 2%;
  float: right;
  transition: 1s;
}

.prix-button {
  position: relative;
  display: block;
  height: 25px;
  width: auto;
  color: white;
  margin: 1%;
  background-color: #e20177;
  border-radius: 25px;
}

.prix-modal-button {
  background-color: transparent;
  border-radius: 2px;
  text-align: center;
  align-content: center;
  font-size: 100%;
  padding: 1% 5%;
  bottom: 3%;
  margin: 0% 2%;
}

#accept.prix-modal-button {
  position: absolute;
  right: 2%;
  margin-right: 2%;
}

#cancel.prix-modal-button {
  position: absolute;
  left: 3%;
  margin: 0 0.5%;
}

@media screen and (max-width: 600px) {
  #showGrid {
    display: block;
    margin: 0.5%;
  }
}