* {
    box-sizing: border-box;
}
.item ul li{
    font-size: 25px;
  }
.link{
    color: #0a707e;
    text-decoration: none;
}
.rule {
    height: 5px;
    width: 40%;
    background-color: #00B4CC;
}
@media screen and (min-width: 661px) and (max-width: 1200px) {
    .rule {
      height: 3px;
      width: 60%;
      float: left;
      background-color: #00B4CC;
    }
}

@media screen and (max-width: 660px) {
    .rule {
      height: 3px;
      width: 60%;
      float: left;
      background-color: #00B4CC;
    }
}